<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="ColoredConsole" type="log4net.Appender.ColoredConsoleAppender">
    
    <mapping>
      <level value="ERROR"/>
      <foreColor value="White"/>
      <backColor value="Red,HighIntensity"/>
    </mapping>

    <mapping>
      <level value="DEBUG"/>
      <foreColor value="Green"/>
    </mapping>
    
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline "/>
    </layout>
  </appender>

  <appender name="File" type="log4net.Appender.FileAppender">
    <file value="Log\\log4netlog.txt"/>
    <appendToFile value="true"/>
    <encoding value="unicodeFFFE" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>

  <root>
    <level value="ALL"/>
    <appender-ref ref="ColoredConsole"/>
    <appender-ref ref="File"/>
  </root>
  
</log4net>