<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLDC_MisInterface.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CLDC_MisInterface.Properties.Settings>
            <setting name="CLDC_MisInterface_DetectService_DetectService"
                serializeAs="String">
                <value>http://10.167.179.43:9000/InterfaceWS/InterfaceBusiness/services/DetectService</value>
            </setting>
            <setting name="CLMisInterface_DetectService_DetectService" serializeAs="String">
                <value>http://10.167.179.43:9000/InterfaceWS/InterfaceBusiness/services/DetectService</value>
            </setting>
        </CLDC_MisInterface.Properties.Settings>
    </applicationSettings>
</configuration>